$primary-font: 'Bungee', sans-serif;
$secondary-font: 'Source Sans 3', sans-serif;
$primary-color: #4056A1;
$secondary-color: #E09F3E;
$primary-background-color: #FFFCEB;
$primary-font-color: #FFFFFF;
$border-color: #545149;
$shadow-color: #b8b8b8;
$warning-color: #FF0000;