.new-tweet {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.btn-and-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: 70%;
}

label {
  font-weight: 600;
  font-size: 90%;
}

textarea {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom-width: 5px;
  border-bottom-color: #545149;
  border-bottom-style: solid;

}

button {
  color: #FFFFFF;
  background-color: #4056A1;
}

