article {
  border: 5px solid #545149;
  margin: 50px 0;
  padding: 0 15px;
}

article:hover {
  box-shadow: 10px 5px 5px #b8b8b8;
}

header.tweet {
  background-image: none;
  background-color: #FFFCEB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  margin: 0;
}

header span {
  display: flex;
  align-items: center;
}

footer.tweet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  border-top: 5px solid #545149;
  padding: 0 20px;
}

footer div i {
  display: flex;
  justify-content: space-around;
  margin: 0 5px;
  color: #4056A1;
}

footer div i:hover {
  color: #E09F3E;
}

img.avatar {
  height: 75px;
}

.tweet-content {
  padding: 0 20px;
  overflow-wrap: break-word;
}

h4 {
  color: #b8b8b8;
}

h3 {
  font-weight: 400;
  margin-left: 10px;
}

/* desktop view */
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }
}
